p#baller {
	font-family: catchymelody;
	font-size: 35px;
}

button {
	height: 28px;
	width: 87px auto;
	border-radius: 8px;
	background-color: rgb(60, 163, 232);
	color: rgb(255, 255, 255);
	font-size: 16;
	padding: 10;
	border: none;
}


button:hover {
	background-color: rgb(66, 106, 152);
	color: rgb(255, 255, 255);
}

span.boldName {
font-weight: bold;}

.space {
	height: 10px;
}

a {
	text-decoration: none;
	color: rgb(132, 130, 130);
}

a:hover {
	border-bottom: 1px solid rgb(26, 25, 25);
	color: rgb(26, 25, 25);
}