@font-face {
	font-family: Quattrocento;
	src: url(../font/quattrocento-sans.regular.ttf);
}

@font-face {
	font-family: alloy;
	src: url(../font/AlloyInk-nRLyO.ttf);
}

@font-face {
	font-family: badunicorn;
	src: url(../font/BadUnicornDemoRegular-BVWx.ttf);
}

@font-face {
	font-family: catchymelody;
	src: url(../font/CatchyMelodyRegular-owA1o.ttf);
}

@font-face {
	font-family: countryside;
	src: url(../font/Countryside-YdKj.ttf);
}
